#outer {
    position: relative;
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    } 
    .container {
        position: relative;
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 0px;
    font-size: larger;
    }
    #inner {
    width: 50px;
    height: 50px;
    background: lightgreen;
    position: absolute;
    top: 20px;
    } 
  