-webkit-text-size-adjust: 100%;
font-size: 14px;
line-height: 20px;
font-family: "Amazon Ember",Arial,sans-serif;
box-sizing: border-box;
margin-bottom: 4px!important;
margin: 0 0 0 18px;
color: #0F1111;
padding: 0;